# Directories #
bin/
target/
libs/
tmp/
node_modules/
jaxws/jaxws-client/src/main/

# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# Testing environment specific
derby.log


######################
# Liberty tools
######################

.factorypath

event-apps/analysis-app/src/main/resources/public/
event-apps/analysis-app/target
event-apps/web-app/dist/
event-apps/web-app/node/
event-apps/web-app/node_modules/
event-apps/web-app/npm-debug.log
event-apps/web-app/target
event-apps/web-app/test-output
event-apps/web-app/test/e2e/reports
event-apps/web-app/test/unit/coverage
event-apps/web-app/yarn-error.log
event-apps/web-app/yarn.lock
event-apps/security/target/
event-apps/selenium-debug.log