# Directories #
bin/
target/
libs/
tmp/
node_modules/
jaxws/jaxws-client/src/main/

# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# Testing environment specific
derby.log


######################
# Liberty tools
######################

.factorypath

log-visualisation/backend/src/main/resources/public/
log-visualisation/backend/target
log-visualisation/webapplication/dist/
log-visualisation/webapplication/node/
log-visualisation/webapplication/node_modules/
log-visualisation/webapplication/npm-debug.log
log-visualisation/webapplication/target
log-visualisation/webapplication/test-output
log-visualisation/webapplication/test/e2e/reports
log-visualisation/webapplication/test/unit/coverage
log-visualisation/webapplication/yarn-error.log
log-visualisation/webapplication/yarn.lock
log-visualisation/security/target/
log-visualisation/selenium-debug.log